
body
{
    font-family: 'Alata', sans-serif;
}
html 
{
    scroll-behavior: smooth;
}
/* navbar  */
.navbar-brand img {
    max-width: 130px;
    height: auto;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav>*:not(form) {
    margin-right: 10px;
}

.img-logo {
    margin-left: 80px;
}

.header {
    padding-top: 40px;
    padding-right: 40px;
}

.navbar-left {
    padding-left: 50px;
}

.navbar-right {
    padding-right: 40px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-brand, .nav-link {
    color: white; 
    font-family: 'Arial', sans-serif; 
}

.navbar {
    background-color: #ee2f25 ; 
}
/* footer  */
.img-fluid {
    max-width: 200px;
    height: auto;
    padding: 5px;
}

.footer {
    padding-top: 60px;
}

.footer-right {
    padding-top: 15px;
    padding-left: 100px;
}

.footer-left {
    padding-top: 20px;
}

.footer-mid {
    padding-top: 20px;
}

.footer-right a {
    text-decoration: none;
    color: inherit;
}
.footer {
    background-color: #ee2f25 ; 
    padding-top: 60px;
    color: white; 
    font-family: 'Arial', sans-serif; 
}

/* ticket card */
.card-body-toggle {
    display: none;
}
.card:hover .card-body-toggle {
    display: block;
}
/* Style for ticket info toggle button */
.ticket-info-toggle {
    position: relative;
}
.ticket-info-toggle::after {
    content: '!';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: transparent;
    color: #007bff;
    text-align: center;
    cursor: pointer;
    border: 1px solid #007bff;
    font-size: 14px;
}
.ticket-infor {
    display: none;
}
#ticket-list {
    margin-top: 20px;
}
.ticket-form {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.ticket-image {
    width: 100%;
    height: auto;
}
.ticket-name {
    margin-bottom: 5px;
}
.ticket-price {
    margin-bottom: 15px;
}
.ticket-quantity {
    margin-bottom: 15px;
}
.ticket-submit {
    margin-top: 10px;
}

/* style for button */
.text-center {
    text-align: center;
}

.btn-primary, .btn-success {
    display: inline-block;
    margin-top: 5px; 
    margin-bottom: 10px; 
    margin-right: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
}

.btn-primary {
    background-color: #007bff; 
    color: #fff; 
}

.btn-success {
    background-color: #28a745; 
    color: #fff; 
}

.btn-primary:hover, .btn-success:hover {
    opacity: 0.8; 
}




/* TICKET CART CSS */
.table_container {
    margin-top: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}

th {
    background-color: #f2f2f2; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #ddd; 
}

.btn {
    padding: 8px 16px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #007bff; 
    color: #fff; 
}

