/* navbar  */
.navbar-brand img {
    max-width: 130px;
    height: auto;
}
.header
    {
        display: flex;
        justify-content: flex-end;
    }
.navbar-nav {
    display: flex;
    align-items: center; 
}
.navbar-nav > *:not(form) {
    margin-right: 10px; 
}
.img-logo{
    margin-left: 80px;
}
.header{
    padding-top: 40px;
    padding-right: 40px;
}
.navbar-left{
    padding-left: 50px;
}
.navbar-right{
    padding-right: 40px;
}

/* footer  */
.img-fluid{
    max-width: 150px;
    height: auto;
}
.footer{
    padding-top: 60px;
}
.footer-right{
    padding-top: 15px;
    padding-left: 100px;
}
.footer-left{
    padding-top: 20px;
}
.footer-mid{
    padding-top: 20px;
}
/* register form */
.register-form{
    padding-bottom: 30px;
}

.item-login form .form-group {
    margin-bottom: 15px; 
}

.item-login form .btn {
    margin-top: 15px; 
}
