/* admin home page style */
.navbar-custom {
    background-color: #add8e6; /* Màu xanh nước biển nhạt */
}
.navbar-custom .navbar-brand {
    color: #ffffff; /* Màu chữ trắng */
    margin-right: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* admin home content */
.subheading-link {
    text-decoration: none; 
    color: inherit; 
}

/* ticket table css */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

td:first-child {
    width: 20%;
}