.navbar-brand img {
    max-width: 150px;
    height: auto;
}

.navbar-toggle{
    border: none;
    font-size: 1.25 rem;
}
.navbar-toggle:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}